configuration {
  modes: [ combi ];
  combi-modes: [ drun, window ];
}

@theme "squared-nord" 

element {
  orientation: horizontal;
  children: [ element-icon, element-text ];
  spacing: 12px;
}

element-text {
  text-size: 12px;
  vertical-align: 0.5;
  text-color: rgba ( 250, 250, 250, 60 % );
}

element-icon {
  size: 1.5em;
}
