# The code below is generated via chezmoi.
# To make changes run `chezmoi edit ~/.bashrc`
# =========

{{ if eq .chezmoi.osRelease.id "arch" -}}
## Archlinux ##
	alias pacman-clean="pacman -Qtdq | sudo pacman -Rns -"
{{ end -}}


## All ##


PS1='[\u@\h \W]\$ '

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin" ]]; then
    PATH="$HOME/.local/bin:$PATH"
fi

if ! [[ "$PATH" =~ "$HOME/go/bin:" ]]; then
    PATH="$HOME/go/bin:$PATH"
fi

# Source global definitions
if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi

export EDITOR=nvim

# Initialize tools 
eval "$(zoxide init bash)"
eval "$(mise activate bash)"

# User specific aliases and functions
if [ -d ~/.bashrc.d ]; then
    for rc in ~/.bashrc.d/*; do
  if [ -f "$rc" ]; then
      . "$rc"
  fi
    done
fi
unset rc

# mise?
. "$HOME/.local/share/../bin/env"
