#
# ~/.bash_profile
#

[[ -f ~/.bashrc ]] && . ~/.bashrc

{{ if eq .chezmoi.osRelease.id "arch" -}}
if [ -z "$WAYLAND_DISPLAY" ] && [ -n "$XDG_VTNR" ] && [ "$XDG_VTNR" -eq 1 ]; then
  exec sway
fi

export XKB_DEFAULT_OPTIONS=caps:ctrl_modifier
{{ end -}}

