#!/bin/bash


# #######
# Helpers
# #######

set_mise_defaults () {
	mise use -g rust
	mise use -g node
}

install_tools () {
	# node
	npm i -g markdownlint-cli
}

bluefin_setup () {
	brew install \
		mise \
		helix \
		neovim \
		git \
		htop \
		man \
		ripgrep \
		lazygit \
		mise \
		prettier \
		typescript-language-server \
		lua-language-server \
		sql-language-server \
		vue-language-server

	npm i -g \
		svelte-language-server \
		vscode-html-languageservice \
		vscode-css-languageservice 
}

pacman_install () {
	sudo pacman -S \
		neovim \
		helix \
		foot \
		firefox \
		htop \
		git \
		xorg-setxkbmap \
		man \
		ripgrep \
		luarocks \
		ghostty \
		graphicsmagick \
		brightnessctl \
		swaybg \
		polkit \
		rofi-wayland \
		adobe-source-code-pro-fonts \
		otf-font-awesome \
		ttf-roboto-mono \
		ttf-font-awesome \
		openssh \
		waybar \
		lazygit \
		syncthing \
		flatpak \
		thunar \
		impala \
		fastfetch \
		zoxide \
		lf \
		pavucontrol \
		mpv \
		wget \
		fuse2 \
		fzf  \
		mise \
		github-cli \
		prettier \
		marksman \
		svelte-language-server \
		vscode-html-languageserver \
		vscode-css-languageserver \
		typescript-language-server \
		glfw 
}

# ###
# Run
# ###

{{ if eq .chezmoi.osRelease.id "bluefin" -}}
	bluefin_setup	
{{ else if eq .chezmoi.osRelease.id "arch" -}}
	pacman_install
{{ end -}}

# Common
set_mise_defaults	
install_tools
