#!/usr/bin/bash

{{ if eq .chezmoi.osRelease.id "bluefin" -}}
	echo "Need to install scripts here for bluefin via brew"
{{ else if eq .chezmoi.osRelease.id "arch" -}}
	sudo pacman -S \
		neovim \
		helix \
		foot \
		firefox \
		htop \
		git \
		chezmoi \
		xorg-setxkbmap \
		man \
		ripgrep \
		luarocks \
		ghostty \
		graphicsmagick \
		brightnessctl \
		swaybg \
		polkit \
		rofi-wayland \
		adobe-source-code-pro-fonts \
		otf-font-awesome \
		ttf-roboto-mono \
		ttf-font-awesome \
		ssh-keygen \
		openssh \
		waybar \
		lazygit \
		syncthing \
		flatpak \
		thunar \
		impala \
		fastfetch \
		zoxide \
		lf \
		pavucontrol \
		mpv \
		wget \
		fuse2 \
		gear-lever \
		fzf  \
		mise \
		github-cli \
		prettier \
		marksman \
		svelte-language-server \
		vscode-html-languageserver \
		vscode-css-languageserver \
		typescript-language-server \
		greetd-tuigreet
{{ end -}}
