# Language support configuration.

[language-server.astro-ls]
command = "astro-ls"
args = ["--stdio"]

# See the languages documentation: https://docs.helix-editor.com/master/languages.html
[[language]]
name = "typescript"
formatter = { command = 'prettier', args = ["--parser", "typescript", "--printWidith", "90"] }
auto-format = true

[[language]]
name = "astro"
scope = "source.astro"
injection-regex = "astro"
file-types = ["astro"]
language-servers = ["astro-ls"]
formatter = { command = "prettier", args = ["--plugin", "prettier-plugin-astro", "--parser", "astro"] }
auto-format = true

